@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: Inter;
}
body {
  background-color: #eaeaea;
}
@layer base {
  h1 {
    @apply text-2xl font-extrabold;
  }
}

@layer components {
  .navbar {
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    grid-template-columns: 5fr 1fr 1fr;
  }
}
